body {
  align-content: center;
  background-color: rgb(25 24 24);
  background-size: cover;
}

.card-login {
  display: flex;
  justify-content: flex-end;
}

.div-form {
  background-image: url('https://img.freepik.com/free-photo/naked-black-young-female-singing-headset-studio_23-2148183308.jpg?w=826&t=st=1664924413~exp=1664925013~hmac=3fe9f8df9e8f5a77dbff65823414db1a7b6fd4e5a0e544402a772dd20f20623a');
  background-repeat: no-repeat;
  background-size: 620px;
  display: flex;
  height: 530px;
  justify-content: center;
  margin-top: 0;
  width: 550px;
}

.insert-name {
  color: white;
  font-size: 30px;
  margin-top: 20%;
}

.input-name {
  border: none;
  border-radius: 9px;
  font-family: sans-serif;
  height: 30px;
  width: 200px;
}

.submit-btn {
  background-color: rgb(226 10 112);
  border: none;
  border-radius: 5px;
  color: white;
  font-family: sans-serif;
  font-weight: 700;
  height: 30px;
  margin-left: 20%;
  margin-top: 9%;
  width: 120px;
}

.title-wave {
  color: rgb(226 10 112);
  font-size: 80px;
  margin-left: 30%;
  margin-top: 45%;
  text-shadow: 2px 2px 50px #e91e63;
}

.title-div {
  left: 0;
  margin-top: -120px;
  padding: 10px;
  position: absolute;
  width: 300px;
}

.phrase {
  color: white;
  font-size: 30px;
  margin-left: 30%;
}
